<table style="width:100%; background-color:gray; text-align:center; border-radius: 5px; color:white">
                         
						 
						 
						 <tr>
                                  <td>
                                      <label>Status : {{details['status']}} </label>
                                  </td>

                              </tr> 
                              <tr>
                                  <td>
                                      <label>mass : {{details['mass']}} </label>
                                  </td>

                              </tr>   
                              <tr>
                                  <td>
                                      <label>launched-Time : {{details['launched-Time']}} </label>
                                  </td>
                              </tr>  
                               <tr>
                                  <td>
                                      <label>deployed-Time : {{details['deployed-Time']}} </label>
                                  </td>
                              </tr> 
                               <tr>
                                  <td>
                                      <label>failed-Time : {{details['failed-Time']}} </label>
                                  </td>
                              </tr>
                               <tr>
                                  <td>
                                      <label>cancelled-Time : {{details['cancelled-Time']}}</label>
                                  </td>
                              </tr>
							   <tr>
                                  <td>
                                      <label>altitude : {{details['altitude']}} </label>
                                  </td>
                              </tr>
							    <tr>
                                  <td>
                                      <label>speed : {{details['speed']}} </label>
                                  </td>
                              </tr>
							    <tr>
                                  <td>
                                      <label>acceleration : {{details['acceleration']}} </label>
                                  </td>
                              </tr>
							    <tr>
                                  <td>
                                      <label>thrust : {{details['thrust']}} </label>
                                  </td>
                              </tr>
							    <tr>
                                  <td>
                                      <label>temperature : {{details['temperature']}} </label>
                                  </td>
                              </tr>
							   
                          </table>