<table style="width:100%; background-color:gray; text-align:center; border-radius: 5px; color:white">

                              <tr>
                                  <td>
                                      <label>Telemetry Port Status: {{telemetryVals['status']}}</label>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <label>Altitude : {{telemetryVals['Altitude']}} m </label>
                                  </td>

                              </tr>   
                              <tr>
                                  <td>
                                      <label>Speed : {{telemetryVals['Speed']}} m/s</label>
                                  </td>
                              </tr>  
                               <tr>
                                  <td>
                                      <label>Acceleration : {{telemetryVals['Acceleration']}} m/s<sup>2</sup></label>
                                  </td>
                              </tr> 
                               <tr>
                                  <td>
                                      <label>Thrust : {{telemetryVals['Thrust']}} N</label>
                                  </td>
                              </tr>
                               <tr>
                                  <td>
                                      <label>Temperature : {{telemetryVals['Temperature']}} °C</label>
                                  </td>
                              </tr>
                          </table>